body {
    text-align: center;
    background-color: bisque
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.canvas {
    width: 100%;
    display: free;
    flex-wrap: wrap
}

@media screen and (min-width:450px){
    p{
       text-align: left 
    }
    .canvas{
        width: 25%;
    }
}

@media screen and (min-width:600px){
    p{
       text-align: center 
    }
    .canvas{
        width: 50%;
    }
}